<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My todo list</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/application.css">
</head>
<body>
	<div class="loading">
		<p>Loading...</p>
	</div>
	<div class="page">
		<p>Tasks</p>
		<p class="field"><input type="text" autofocus class="task-input" paceholder="What´s next?" maxlength="55" /></P>
	</div>

	<script type="text/javascript" src="../public/javascripts/libs/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../public/javascripts/todo.js"></script>
	<script type="text/javascript" src="../public/javascripts/todo.loader.js"></script>
	<script type="text/javascript" src="../public/javascripts/todo.boot.js"></script>
	<script type="text/javascript" src="../public/javascripts/todo.task_input.js"></script>
</body>
</html>